<!DOCTYPE html>
<html>
<head>
  <!-- <link rel="stylesheet" href="libs/sortable-test.css" /> -->
  <title>Twitch Switch Options</title>
</head>
<div ng-app="twitchSwitchApp" ng-controller="streamerListController" class="container">
    <div id="status"></div>
    <button 
        id="gen-history"
        ng-click="get_history_permission()" 
    >Generate History</button>
    Streamer: <input ng-model="streamer_name">
    <button 
        id="add_streamer_button"
        ng-click="add_streamer_single(streamer_name, 0);" 
    >Add</button>
    <p>
    <div id="gen-history-warning"></div>

  <div class="floatleft">
    <ul ui-sortable="sortableOptions" ng-model="streamers" class="list">
      <li ng-repeat="streamer in streamers" class="item">
        {{streamer.name}}
      </li>
    </ul>
  </div>
  
  <div class="clear"></div>
</div>
    <script src="libs/jquery-2.2.1.min.js"></script>
    <script src="libs/jquery-ui.min.js"></script>
    <script src="libs/angular.js"></script>
    <script src="libs/sortable.js"></script>
    <script src="options.js"></script>
</html>