<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="libs/sortable-test.css" />
  <title>TTV TV Options</title>
</head>
<body>
<div style="min-width: 570px; margin: 0 auto;">
<div ng-app="ttvTvApp" ng-controller="streamerListController">
    <form id="add_streamer_textbox" ng-model="streamer_name" >
        <input style="float: left;" type="text" id="add_streamer_field" placeholder="Enter a streamer"/>
    </form>
        <button 
        style="display:block; float: right;"
        id="gen-history"
        ng-click="get_history_permission()" 
    >Generate History</button>
    <div class="floatleft" style="display: inline-block;">
        <div class="streamer_dragger floatleft">
            <h2><b>Unused Channels</b></h2>
            <ul ui-sortable="sortableOptions" ng-model="inactive_streamers" class="streamer_list floatleft">
              <div ng-repeat="streamer in inactive_streamers track by $index" class="item">
                <!-- <div class="streamer_list_views">{{streamer.visited_count}}</div> -->
                <div class="streamer_list_name">{{streamer.name}}</div>
                <input 
                    type="image"
                    ng-click="remove_streamer_and_save(streamer.name)" 
                    class="remove_streamer_button"
                    src="libs/images/remove_streamer_icon.png" />
              </div>
            </ul>
        </div>
        <div class="streamer_dragger floatleft">
            <h2><b>Used Channels</b></h2>
            <ul ui-sortable="sortableOptions" ng-model="active_streamers" class="streamer_list floatleft">
              <div ng-repeat="streamer in active_streamers track by $index" class="item">
                <!-- <div class="streamer_list_views">{{streamer.visited_count}}</div> -->
                <div class="streamer_list_name">{{streamer.name}}</div>
                <input 
                    type="image"
                    ng-click="remove_streamer_and_save(streamer.name)" 
                    class="remove_streamer_button"
                    src="libs/images/remove_streamer_icon.png" />
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div id="gen-history-warning"></div>
    </body>
</div>
    <script src="libs/jquery-2.2.1.min.js"></script>
    <script src="libs/jquery-ui.min.js"></script>
    <script src="libs/angular.js"></script>
    <script src="libs/sortable.js"></script>
    <script src="options.js"></script>
</html>